# File: .gitignore
# Author: Bucky Frost
# Purpose: a git ignore file for the cs405 project
# Ignores: binary output from compiler/profiler and swap files from vim

*.out
*.o
*.a
*.swp
*.gch
profile.0*
*.csv
